html {
	height: 100%;
}
body{
	background-color: lightgrey;
	 padding-bottom: 150px;
}

a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 102);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 204, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}


.allMenus{
	display: none;
	
	border-bottom: 1px solid-black;
	
	position: absolute;
	left: 8px;
	top: 16rem;
	padding: 0px;
	width:max-content;
	z-index: 2;
	
}
.div1{
	float:left;
	position: relative;
	border-style: solid;
	border-color: rgb(250, 173, 45);
	border-width: 5px;
	
	height: 10rem;
	
	background-color: rgb(86, 70, 217);
	width: 100%;
	
	
}
.div2{
	
	text-align: left;
	background-color: red;
	border-style: solid;
	border-color: red;
	border-radius: 25px;
	box-shadow: 5px 10px;
	width: 100%;
}
.div3{
	text-align: center;
	width: 100%;
	padding-left: 80px;
}
.div4{
	text-align: right;
	width: 60%;
	padding-right: 80px;
}
.div5{
	text-align: center;
	float: left;
	width: 100%;
	padding-left: 0px;
}
.div6{
	float: right;
	text-align: left;
	width: 85%;
}
.div7{
	float: right;
	text-align: center;
	width: 100%;
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   
}
.model{
	 flex: 50%;
  padding: 50px;
}

.row {
  display: flex;
}
.projdiv {
  border: 5px outset Yellow;
  background-color: Red;    
  text-align: center;
}
h1{
	text-align: left;
	color: rgb(250, 173, 45);
	
	font-weight: bold;
	font-family: Arial;
	font-size: 4em;
	
}
h2{
	font-size: 2em;
	
}
h3{
	font-size: 2em;
}

#img1{
	border-radius: 50%;
	text-align: center;

}
#img2{
	text-align: center;
}

#img6{
	float: left;
	position: relative;
	
}



